<!DOCTYPE html>
<html lang="en">
<%= render "head.html", conn: @conn %>

<body>
  <main role="main">
    <div class="w-full flex content-around flex-col md:flex-row">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <%= render "alert.html", conn: @conn %>
  </main>
</body>

</html>