<!DOCTYPE html>
<html lang="en">
<%= render "head.html", conn: @conn %>

<body>
  <main role="main">
    <div class="w-full flex flex-col content-around md:flex-row">
      <div class="h-full w-48">
        <%= GladosWeb.NavigationView.render(
              "index.html",
              conn: @conn,
              user: @user,
              options: (if Map.has_key?(@conn.assigns, :event), do: [event_id: @event.id], else: [])
              ) %>
      </div>
      <div class="relative min-h-screen w-full">
        <%= render(GladosWeb.CommonView, "breadcrumbs.html", conn: @conn) %>
        <div class="flex flex-col w-5/6 mx-auto mt-12 pb-24">
          <%= render @view_module, @view_template, assigns %>
          <div class="w-4/5 mx-auto"><%= render "alert.html", conn: @conn %></div>
        </div>
        <%= render(GladosWeb.CommonView, "footer.html") %>
      </div>
    </div>
  </main>
</body>

</html>