<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Glados · ESLG crew portal</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>

  <link rel='icon' href="<%= Routes.static_path(@conn, "/images/favicon.png") %>" type='image/x-icon'/ >
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
  
  <body>
    <main role="main">
      
      <%= render(GladosWeb.CommonView, "navigation.html", conn: @conn) %>
      <%= render(GladosWeb.CommonView, "breadcrumbs.html", conn: @conn) %>
      <div class="max-w-3xl m-auto mt-12 flex content-around flex-col md:flex-row">
        <%= render @view_module, @view_template, assigns %>
      </div>

      <p class="alert bg-blue-400 text-blue-900 p-3 shadow-xl rounded relative max-w-2xl m-auto" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert bg-red-400 text-red-900 p-3  shadow-xl rounded relative max-w-2xl m-auto" role="alert"><%= get_flash(@conn, :error) %></p>
    </main>
  </body>
</html>
