<!DOCTYPE html>
<html lang="en">
<%= render "head.html", conn: @conn %>

<body class="login_bg ">
  <main role="main">
    <div class="max-w-2xl m-auto mt-8 lg:mt-24 shadow-2xl">
      <%= render(GladosWeb.CommonView, "guest_bar.html", conn: @conn,
        current_path: :login) %> <%= render @view_module, @view_template,
        assigns %>
    </div>
    <br />
    <%= render "alert.html", conn: @conn %>
  </main>
</body>

</html>