<!DOCTYPE html>
<html lang="en">
<%= render "head.html", conn: @conn %>

<body class="w-full h-screen absolute bg-payne">
  <main role="main" class="py-20">
    <div>
      <%= render @view_module, @view_template, assigns %>
    </div>
  </main>
  <div class="text-white">
    <%= render(GladosWeb.CommonView, "footer.html") %>
  </div>
</body>

</html>