<!DOCTYPE html>
<html lang="en">
<%= render "head.html", conn: @conn %>

<body>
  <main role="main">
    <div class="w-screen h-screen bg-payne">
      <%= render @view_module, @view_template, assigns %>
    </div>
    </div>
    </div>
  </main>
</body>

</html>