<html>
  <body>
    <div>
      <nav class='navbar'>        
      <ul class="float-right">
          <li class="logout">
            <%= link "Logg ut", to: Routes.session_path(@conn, :delete), method: "delete" %>
          </li>
        </ul>
        <ul>
          <li class="logo_box"><img src="<%= Routes.static_path(@conn, "/images/logo_70x.png" ) %>" class="logo"></li>
          <li><%= link("Crew", to: Routes.logger_path(@conn, :logger_crew)) %></li>
          <li><%= link("Transactions", to: Routes.logger_path(@conn, :logger_transactions)) %></li>
        </ul>

      </nav>
    </div>
  </body>
</html>