/* This file is for your main application css. */

@import "navbar.css";
@import "./login.css";
@import "./new_user.css";
@import "./verify.css";
@import "./logger.css";
@import "./error.css";

@tailwind base;
@tailwind components;

.navElem {
    @apply .text-black .py-5
}
.anavElem {
    @apply .block .py-5 .border-2 .lg:border-0 .lg:border-b-4 .border-transparent .hover:border-orange .text-white .lg:inline-block .hover:text-white .lg:mt-0 .lg:mr-8 .no-underline
}

.standardInputField {
    @apply .w-full .pl-2 .h-8 .bg-gray-300 .shadow-md .rounded 
}

@tailwind utilities;

.alert:empty {
    display: none;
}

:root {
    --main-orange: #eba134;
    --dark-blue: #606c76;
}

.danger {
    background-color: #dc3545 !important;
}

.help-block {
    color: #dc3545 !important;
}

.bg-grue {
    background-color: var(--dark-blue);
}

form,
label,
h5 {
    margin-bottom: 0px !important;
}