/* This file is for your main application css. */

@import "navbar.css";
@import "./login.css";
@import "./new_user.css";
@import "./verify.css";
@import "./logger.css";
@import "./error.css";

@tailwind base;
@tailwind components;

.standardInputField {
    @apply .w-full .pl-2 .h-8 .bg-gray-300 .shadow-md .rounded 
}

@tailwind utilities;

.alert:empty {
    display: none;
}

:root {
    --main-orange: #eba134;
    --dark-blue: #606c76;
}

.danger {
    background-color: #dc3545 !important;
}

.help-block {
    color: #dc3545 !important;
}

form,
label,
h5 {
    margin-bottom: 0px !important;
}