.black_h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0px;
}

.orange_h2 {
  color: var(--main-orange);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0px;
}

h5 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.orange {
  color: var(--main-orange);
}

.dark_blue {
  color: var(--payne);
  color: black;
  text-decoration: underline;
}

.loginLogo {
  width: 300px;
}
