.navbar {
    margin-bottom: 100px;
    font-size: 23px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #606c76;
}

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 17px;
    text-decoration: none;
}

.navbar li a:hover {
    color: var(--main-orange);
}

.logout {
    background-color: var(--main-orange);
    height: 72px;
}

.logo_box {
    padding: 10px 0px 2px 20px;
}

.logo {
    height: 50px;
}