.section {
    height: 100px;
}

#user_day,
#user_month {
    width: 50px;
    margin-right: 10px;
}

#user_year {
    width: 60px;
}
#user_postcode {
    width: 90px;
}

.c-standard_input {
    outline-color: #fdad5c;
}