.new_user_logo {
    height: 70px;
    width: 70px;
}

.section {
    height: 100px;
}

#user_day,
#user_month {
    width: 50px;
    margin-right: 10px;
}

#user_year,
#user_postcode {
    width: 60px;
}

.c-standard_input {
    outline-color: #fdad5c;
}