<div class="w-4/5 lg:w-3/5 mx-auto border text-center mb-8">
  <div class="bg-gray-500 w-full text-gray-200 rounded-t-lg">
    <h1 class="mt-0 p-5">Lag et nytt event!</h1>
  </div>

  <%= form_for @changeset, Routes.admin_path(@conn, :create_event), 
  [class: "w-full, flex justify-around flex-col p-5 pb-8"], fn f -> %>
    <%= render("event_form.html", form: f, active_event: @active_event) %>
    <%= submit "Lag event", class: "c-btn--hollow" %>
  <% end %>
</div>