<div class="w-4/5 mx-auto h-64 flex flex-col">
  <div class="mb-8">
    <h1 class="text-3xl my-0">Crew søknad</h1>
    <h2 class="text-xl">Lanmine 30 - Generations</h2>
  </div>
  1. <%= @questions.q1.question %>
  <input type="text phx-focus="myfocus" phx-blur="myblur" class="c-standard_input w-4/5 md:w-3/5 mt-2"/>

  <%= @questions.q2.question %>

  <%= @questions.q3.question %>
</div>
