<a class="my-6 text-xl w-4/5 md:w-3/5" href="<%= Routes.member_path(@conn, :event_landing, @event.id) %>">
  <%= @event.name %>
  <img src="<%= Routes.static_path(@conn, "/images/lanmine30.jpg" ) %>" class=" mr-4">
</a>